body{
    font-family: Poppins;
    font-family: 'Poppins', sans-serif;

     background-color: whitesmoke;
    /* nuk e lojna qet ngjyre po veq e kom qit per mu dallu prej nav baritedhe poashtu llogon e nde=reqi une ja heki prapavine  */
    margin: 0px;
    
}

 nav{

    background-color: whitesmoke;
    height: 60px;
    text-align: right;
    padding-right: 100px;
    padding-top: 15px;;
    position: fixed;
    width: 93vw;
    

} 
nav a {
    display: inline-block;
    padding-left: 90px;
    padding-top: 10px;
    color: #3498db;
    text-decoration: none;
}

nav a:hover{
    color: #767676;
}

#Logo{
   max-width: 170px;
   float: left;
   padding-left: 90px;
   padding-top: 15px;
}


#Baneri .baneriFoto{
    height: 500px; 
    width: 100%;
}

#TitulliBanerit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 200px;
    text-align: center;
    padding-bottom: 350px;
    color: whitesmoke;
}
#paragrafiPare {
    text-align: center;
}

#paragrafiPare .ParagrafiAbout {
    color: #3498db;
    text-align: center;
    padding-top:30px ;
}

#paragrafiPare .TextPare{
    color: #767676;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

}
.about-button {
    display: inline-block; 
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 20px;
    margin-top: 20px;
}

.catalogu {
    display: flex;
    justify-content: space-between;
    border-collapse: collapse;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom:50px ;
}

.karta {
    width: 315px;
    height: 500px; 
    border: 1px solid #3498db;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 80px;
    padding-bottom: 100px;
   
}

.karta img {
    height: 300px;

    }

.karta p {
    margin-top: 10px;
    text-align: center;
    color: #767676;
}
.catalogu #karta1:hover{
    background-color: #3498db;
    border: none;
}
.catalogu .karta:hover p{
    color: whitesmoke;
}

.catalogu .karta .SpaniIParagrafit{
    font-weight: bold; 
    color:#3498db;
}
.catalogu .karta:hover .SpaniIParagrafit{
    font-weight: bold; 
    color:whitesmoke;
}

.catalogu #karta2:hover{
    background-color: #3498db;
    border: none;
}
.catalogu #karta3:hover{
    background-color: #3498db;
    border: none;
}
.catalogu #karta4:hover{
    background-color: #3498db;
    border: none;
}
 
.butoniNeMes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px; 
   
   
}

.centered {
    display: inline-block; 
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 20px;
    margin-top: 100px;
}

.paraKatalogut{
    font-size: larger;
    color: #767676;
    display:flex ;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
}

footer {
    background-color: #767676;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    position: static;
    margin-top: 200px;

}



















.proveperhapsire{
    height: 100px;

}